
body {
  color: #FF66B3;
}

ul{
  list-style: none;
}

.login {
  list-style: none;
}

.cardHolder {
  text-align: center;
  max-width: auto;
  border: 2px solid black;
}

.img {
  width: 8rem;
  height: 40rem;
}

div.beginning {
  margin: 35px;
  background-color: #BBE6E4;
  border: 1px solid black;
  border-radius: 15px;
  opacity: 0.77;
}

div.middle {
  margin: 35px;
  background-color: #BBE6E4;
  border: 1px solid black;
  border-radius: 15px;
  opacity: 0.77;
}

.blogForm {
  margin: 25px;
  background-color: #dfc3a5;;
  border: 2px solid black;
  border-radius: 10px;
  opacity: 0.75;
}
/*
 .button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  /* color: white;
};  */
