body {
  color: #ff66b3;
  font-family: "Amatic SC", cursive;
  font-size: 20px;
  background-color: #bbe6e4;
  /* background-image: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574"); */
}

/* ul {
  list-style: none;
} */

.login {
  list-style: none;
}

.cardHolder {
  /* text-align: center;
  max-width: auto; */
  /* width: 100%; */
  border-spacing: 5px 1px;
  border: 2px solid black;
}
h2 {
 tetxt-align: center;
 margin: auto;
}

/* div.beginning {
  margin: 35px;
  background-color: #bbe6e4;
  border: 1px solid black;
  border-radius: 15px;
  opacity: 0.77;
}

div.middle {
  margin: 35px;
  background-color: #bbe6e4;
  border: 1px solid black;
  border-radius: 15px;
  opacity: 0.77;
} */

.aboutDiv {
  border-radius: 15px;
  width: 40%;
  margin: auto;
  font-size: 25px;
  background-color: #f0f6f6;
  border: 7px solid #084b83;
}

.blogForm {
  color: #084b83;
  margin: 25px;
  background-color: #42bfdd;
  border: 5px solid #f0f6f6;
  border-radius: 10px;
  opacity: 0.75;
}

.contactForm {
  margin: auto;
  background-color: #084b83;
  height: 30rem;
  width: 25rem;
  border: 5px solid #f0f6f6;
  border-radius: 5px;
  /* opacity: 0.75; */
}

/* .row {
  width: 33.3%;
  float: left;
} */

.card {
  border: 0 none;
  display: inline-block;
  /* padding-left: 20rem; */
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

div.cardPostList {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  margin: 6rem;
  vertical-align: middle;
}

li {
  list-style: none;
}

.bunnyLogo {
  /* float: left; */
  /* padding: -5px; */
  margin-top: 5px;
}

.contactContainer {
  margin: auto;
  width: 40%;
  /* height: 50%; */
}

/* .button {
  transition-duration: 0.4s;
}

.button:hover {
background-color: #4CAF50 !important;
 color: white !important;
}; 

.navWords {

}; */
/*
Opacity tricks:
background: rgba(76, 175, 80, 0.3) comment out? Green background with 30% opacity comment out?
Gaby's example with hex code instead
background-color: fade(#5A767B, 50%);
*/
